{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'recipes/css/search_recipes.css' %}">
  <title>Search Recipes</title>
</head>

<body>

  <nav>
    <a href="{%url 'recipe_list'%}">Back to All Recipes</a>
    <a href="">Dashboard</a>
    <a href ="{%url 'logout'%}">Log out</a>
  </nav>

  <div class="search-form">
    <form action="" method="POST">
      {% csrf_token %}
      {{form}}

      {% if recipes_df %}
        {{recipes_df|safe}} 
      {% else %}
        <p>* * * Please at least elect one option or there is no matching data in our database! * * *</p>
      {% endif %}

      <button type="submit" >Search</button>
    </form>

    

  </div>

  
</body>
</html>