{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'recipes/css/recipes_home.css' %}">
  <title>Recipe Book</title>
</head>
<body>
  <main>
    <article class="welcome">
      <picture class="welcome__img">
        <img src="{% static 'recipes/images/welcome-img.png' %}"
          alt="home page image">
      </picture>

      <div class="welcome__content">
        <p class="welcome__category">Hello!<br>Welcome to your</p>
        <h1 class="welcome__title">Recipe Book</h1>
        <p>Create your own recipe collection or browse the simple and healthy recipes we have prepared for you. </p>

        <div class="flex-group">
          <a class="button" href ="{%url 'login' %}">Log in</a>
          <button class="button" type="button">Register</button>
        </div>
      </div>
    </article>
  </main>
</body>
</html>