{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_details.css' %}">
  <title>{{object.name}}</title>
</head>
<body>
  <menu>
    <a href ="{%url 'logout'%}"><h3>Log out</h3></a>
  </menu>

  
    <article>
      <section>
        <img src="{{object.pic.url}}" width="250" height="250" />
        <div class="back-arrow">
          <a href ="{%url 'recipe_list'%}">
            <img src="{% static 'auth/images/arrow-left.svg' %}" alt="back arrow" width="30px" height="30px">
          </a>
        </div>
      </section>
      
      <div>
        <h2>* * {{object.name}} * *</h2>
        <p><b>Serves:</b> {{object.serves}}</p>
        <p><b>Cooking Time:</b> {{object.cooking_time}} min</p>
        <p><b>Difficulty:</b> {{object.difficulty}}</p>
        <p><b>Ingredient:</b> {{object.display_ingredients}}</p><br>
        <p><b>Methods:</b> {{object.methods|safe}}</p>
      </div>
    </article>


  


</body>
</html>