{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_details.css' %}">
  <title>{{object.name}}</title>
</head>
<body>
  <article>
    <img src="{{object.pic.url}}" width="250" height="250" />
    <div>
      <p>
      {{object.name}}<br>
      Serves: {{object.serves}}<br>
      Cooking Time: {{object.cooking_time}} min<br>
      Difficulty: {{object.difficulty}}<br>
      Ingredient: {{object.ingredient}}<br>
      Methods: {{object.methods}}
      </p>
    </div>
  </article>
</body>
</html>